/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-11, 17:02:18
    Author     : Oti Developer
*/

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
};

$buttonColor  : rgb(26, 136, 239);


body {
    color: #5b5b5b;
    font-size: 13px;
    line-height: 1.85em;
    font-weight: 300;
    text-decoration: none;
    margin:0;
    padding:0;
    font-family: "Lato" !important;

}
.jumbotron p { font-size:18px!important; }

/* Header */

#header {
    position: relative;
    background-image: url('../../assets/img/photo.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 7.5em 0 2em 0;
    cursor: default;
    height: 100vh;
    min-height: 40em;
    font-weight:500;

    /*navbarHamburger*/
    .hamburger{
        background:none;
        position:absolute;
        top:0;
        right:0;
        line-height:45px;
        padding:5px 15px 0px 15px;
        color:#999;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }
    .cross{
        background:none;
        position:absolute;
        top:0px;
        right:0;
        padding:7px 15px 0px 15px;
        color:#999;
        border:0;
        font-size:3em;
        line-height:65px;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }
    .menu{
        text-decoration: none;
        position: absolute;
        right: 37px;
        top: 21px;
        width: 200px;
        text-align: left;

        .menu-item{
            position: relative;
            width: 100%;
            height: 30px;
            text-align: center;
            /* padding-left: 20px; */
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            a{
                text-decoration: none;
                cursor: pointer;
                color: #ccc;
                font-weight: 500;
            }

        }
        .menu-item:hover{
            a
            {
                color:#1a88ef;
            }
            a:after{
                content: "";
                position: absolute;
                top: 21px;
                left: 50%;
                background: #1a88ef;
                width: 4px;
                height: 4px;
                /* bottom: -46px; */
                border-radius: 100%;

            }
        }
    }
    p{
        padding-left: 60px;
        padding-right: 60px;
    }
    #nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1.5em 0 1.5em 0;
        z-index:1;
        overflow: hidden;
        img
        {
            width: 150px;
        }
        ul {
            line-height: 0px;
            position: relative;
            display: inline-block;
            margin: 0;
            height: 21px;
            li{
                position:relative;
                display: inline-block;
                margin: -9px 0.5em 0 0.5em;
                border-radius: 0.5em;
                padding: 3.85em;
                padding-top: 0.85em;
                a{
                    text-decoration: none;
                    cursor:pointer;
                    color:#fff;
                    font-weight:500;
                }
                a:hover
                    {
                    color:#1a88ef;
                }
                a:hover:after{
                    content: "";
                    position: absolute;
                    top: 21px;
                    left: 50%;
                    background: #1a88ef;
                    width: 4px;
                    height: 4px;
                    /* bottom: -46px; */
                    border-radius: 100%;

                }

            }
        }
    }

}
.container{

    .container__inner{
        background-color:transparent;
        p{
            padding-top: 50px;
        }
    }

    .container__sign-up{
        margin:0 auto;
        width: 300px;
        padding:10px;


        .sign-up__head{

            font-size:18px;
        }
        .sign-up__input{

            margin:10px 0px 10px 0px;

            input{
                width: 100%;
                background: transparent;
                padding: 10px;
                text-align: left;
                border: 1px solid #fff;
                border-radius: 3px;
            }
            input::placeholder
            {
                font-weight: 600;
                color:#a8a8a8;
            }
        }
        .sign-up__button{
            width: 100%;
            height: 40px;
            background-color: $buttonColor;
            padding: 10px;
            border: 1px solid #transparent;
            border-radius: 3px;
            font-size:18px;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
        }
    }

    .container__arrow{
        cursor:pointer;
        margin-top: 100px;
        img{
            width:50px;
        } 
    }
}
/*Second Section*/
#second{
    position:relative;
    padding-top:6em;
    background-color:#fff;

    .iphone{
        position: relative;
        float:left;
        img{
            display: block;
            max-width: 100%;
        }
    }
    .text__title{
        position: relative;
        top: 96px;
    }
    .text__wrapper{
        position:relative;
        display: table;
        width:100%;
        .text__content{
            display: table-cell;
            vertical-align: middle;
            z-index: 10;
            position: relative;
            top: 50px;
            left: 20px;
            h1{
                font-weight: 500;
                margin-bottom: 20px;
                margin-top: 0;
                letter-spacing: 1px;
                color: #fff;
                font-size: 50px;
                line-height: 50px;
                color: #fff;
            }
            p{
                font-size:18px;
                margin-top:90px;
            }
        }

    }
    .container__inner--bar{

        position: absolute;
        background-color: #000;
        width: 100%;
        height: 150px;
        top:175px;
        left:0px;
        color:#fff;
        text-align: center;
        font-size: 40px;
        line-height: 94px;
    }
    /*    .container__inner{
    
            float: left;
            .img-responsive {
                position: relative;
                z-index: 1000;
            }
    
            .container__inner-description{
                position: relative;
                top:120px;
                p{
                    font-size:12px;
                }
            }
        }*/
}
/*Third Section*/
#third{
    padding-top: 6em;
    background-color:#fff;

    .container__inner{
        float:left;
        width:100%;
        text-align: center; 

    }
    h1{
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 0;
        letter-spacing: 1px;
        color: #000;
        font-size: 50px;
        line-height: 50px;

    }
    p{
        padding-left: 60px;
        padding-right: 60px;
    }
    .container-image{
        position:relative;
        width:100%;
        z-index:100;
        background-color:#fff;
        img{
            position: relative;
            max-width:100%;
            z-index:100;
        }
        .container-image__backdrop{
            position:absolute;
            top: 0;
            left:0;
            background: #1f1f1f;
            height: 50%;
            width: 100%;
            margin-top: 19%;
        }
    }
}
/*Forth Section*/
#forth{
    background-color: #1f1f1f;
    color: #fff;
    padding-top:6em;
    h1{
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 0;
        letter-spacing: 1px;
        color: #fff;
        font-size: 50px;
        line-height: 50px;
        text-align: center;

    }
    .container__inner-title{
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 0;
        letter-spacing: 1px;
        color: #fff;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
    }
    p{
        text-align:center;
        padding-left: 60px;
        padding-right: 60px;
    }
    img{ max-width: 100%}
}
/*Fifth Section*/
#fifth{
    padding-top:6em;
    .watch{
        float:left;
        display: inline-block;
        max-height: 500px;
        img{
            max-width: 100%;
        }

    }
    h1{
        font-size: 50px;
    }
    /*first container*/
    .time{
        max-width:100%;
        .container__inner{
            padding-top:0px;
            padding-left:0px;
        }

        .container__button{
            color: #1a88ef;
            width: 152px;
            height: 30px;
            border: 1px solid #1a88ef;
            text-align: center;
            line-height: 28px;
        }
        p{
            padding: 0px;
        }

    }
    /*first container*/
    .join__us{
        padding-top: 6em;
        text-align: center;
        max-width:100%;
        .container__inner{
            padding-top:0px;
            padding-left:0px;
        }

        .container__button{
            color: #1a88ef;
            width: 152px;
            height: 30px;
            border: 1px solid #1a88ef;
            text-align: center;
            line-height: 28px;
        }
        .join__us__button{
            background-color: #1a88ef;
            padding: 10px;
            border: 1px solid #transparent;
            border-radius: 3px;
            font-size: 18px;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
            color: #fff;
            width: 300px;
            margin: 0 auto;
        }
        p{
            padding-left:60px;
            padding-right: 50px;
        }
    }

}
/*Footer*/
footer{
    content: '';
    width: 100%;
    height: auto;
    min-height: 150px;
    margin:0 auto;
    overflow: auto;
    background-color: #2a394f;
    padding: 20px 100px 0px 100px;
    clear:both;
    .footer__list{
        float:left;
        li{
            min-width: 10px;
            color:#6383b0;
            margin-bottom: 4px;

        }
        .header{
            color:#fff;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
    .footer__logo{
        float:right;
        width: 100px;
        height: 20px;
        img{
            max-width: 100%;
        }
    }
    ul{
        list-style-type: none;
        display:inline-block;
    }
}
/*Media queries*/

@media screen and (max-width: 1199px) and (min-width: 995px){

    .text__wrapper{
        .text__content{
            h1{
                font-size:40px!important;
            }
        }
    }

}
@media screen and (max-width: 995px) and (min-width: 768px){

    .text__wrapper{
        .text__content{
            h1{
                font-size:3.7vw!important;
            }
            p{
                font-size:12px!important;
                margin-top:0px!important;
            }
        }
    }

}
@media screen and (max-width: 768px){

    .text__wrapper{
        .text__content{
            h1{
                text-align: center;
                margin:0!important;
                font-size:40px;
                color:#000!important;
            }
            p{
                padding-left:60px!important;
                padding-right:60px!important;
                text-align: center;
            }
        }
    }

}
